@font-face {
  src: url("../../vendor/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf");
  font-family: "Roboto";
}

.modal__image {
  width: 300px;
}

.modal__form-content {
  padding: 20px;
  width: 100%;
  font-family: "Roboto", Arial, sans-serif;
  color: #fff;
}

.modal__title {
  margin: 0 0 15px;
  color: #fff;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  margin-bottom: 24px;
  font-weight: bold;
}

.modal__input {
  display: block;
  padding: 0;
  margin: 8px 0 0 0;
  width: 100%;
  font-weight: bold;
  border: none;
  background-color: #fff;
}

.modal__submit-button {
  padding: 8px 16px;
  height: 36px;
  font-weight: bold;
  background-color: #eb7200;
  color: #000;
  border-radius: 4px;
  border: none;
}

.modal__submit-button:hover {
  background-image: linear-gradient(to right, #eb7200, #ff383c);
  box-shadow: 0 0 10px 5px #eb7200;
  cursor: pointer;
}

.modal__submit-button:disabled {
  opacity: 0.6;
  cursor: default;
  background-image: none;
  box-shadow: none;
}

.modal__error {
  color: #d82e2e;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .modal__image {
    overflow: hidden;
  }

  .modal__form-content {
    width: 80%;
  }
}
