@font-face {
  src: url("../../vendor/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-family: "Roboto";
  font-weight: 100 900;
  font-stretch: 75% 100%;
}

.faq {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3e3e3;
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
}

.faq__content {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq__header {
  margin: 0 0 14px;
}

.faq__text {
  margin: 0 0 14px;
}

.faq__text_italic {
  margin: 0 0 14px;
  font-style: italic;
  text-align: center;
}

.faq__image {
  margin-bottom: 14px;
  width: 500px;
}

.faq__link {
  color: #000;
  font-weight: 500;
  cursor: pointer;
}

.faq__container {
  width: 700px;
}

.faq__accordion {
  width: 100%;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  position: relative;
}

.faq__accordion:hover {
  background-color: #ccc;
}

.faq__accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.faq__accordion_active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.faq__panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out;
}

.faq__panel_active {
  padding: 14px;
  display: block;
  max-height: 2000px;
  transition: max-height 0.4s ease-in;
}

.faq__text-break {
  visibility: hidden;
}
