@font-face {
  src: url("../../vendor/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf");
  font-family: "Roboto";
}

.card {
  width: 200px;
}

.card:hover {
  cursor: pointer;
}

.card__image-container {
  width: 100%;
  height: 300px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefdf8;
}

.card__image {
  width: 150px;
  box-shadow: 0 0 10px #000;
  transition: transform 0.3s ease-in-out;
}

.card:hover .card__image {
  transform: scale(1.1);
}

.card__title {
  margin: 0 0 8px;
}

.card__text {
  margin: 0;
}
