.page {
  margin: 0 auto;
  background-color: #000;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.page__content {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
  .page__content {
    padding: 15px 0;
  }
}

/* Smartphone styles */
@media screen and (max-width: 767px) {
  .page__content {
    padding: 10px 0;
  }
}