.join__button {
  padding: 16px 24px;
  width: 300px;
  border-radius: 50px;
  border: none;
  background-color: #eb7200;
  opacity: 0.9;
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  transition: 0.15s;
}

.join__button:hover {
  background-image: linear-gradient(to right, #eb7200, #ff383c);
  box-shadow: 0 0 10px 5px #eb7200;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .join__button {
    width: 200px;
  }
}
