@font-face {
  src: url("../../vendor/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf");
  font-family: "Roboto";
}

.about {
  padding: 20px;
  background-color: #e3e3e3;
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
}

.about__main-header {
  margin: 0 0 20px;
  text-align: center;
  font-weight: 700;
}

.about__container {
  display: flex;
  margin-bottom: 20px;
}

.about__content {
  margin: 0 20px;
}

.about__image {
  width: 20%;
  box-shadow: 0 0 10px 2px #000;
}

.about__header {
  margin: 0 0 10px;
}

.about__text {
  margin: 0;
}

.about__text-break {
  visibility: hidden;
}

@media screen and (max-width: 1024px) {
  .about__image {
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  .about__main-header {
    font-size: 24px;
  }

  .about__container {
    flex-direction: column;
  }

  .about__container {
    margin: 0;
    align-items: center;
  }

  .about__image {
    width: 40%;
    margin-bottom: 8px;
  }

  .about__header {
    text-align: center;
    font-size: 20px;
  }

  .about__text {
    margin-bottom: 14px;
    text-align: center;
    font-size: 14px;
  }
}
