@font-face {
  src: url("../../vendor/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf");
  font-family: "Roboto";
}

.about {
  padding: 20px;
  background-color: #e3e3e3;
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
}

.about__main-header {
  margin: 0 0 20px;
  text-align: center;
  font-weight: 700;
}

.about__container {
  display: flex;
  margin-bottom: 20px;
}

.about__content {
  margin: 0 20px;
}

.about__image {
  width: 20%;
  box-shadow: 0 0 15px 2px #000;
}

.about__header {
  margin: 0 0 10px;
}

.about__text {
  margin: 0;
}

.about__text-break {
  visibility: hidden;
}
