@font-face {
  src: url("../../vendor/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf");
  font-family: "Roboto";
}

.christo-centric {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/bible-stained-glass.jpg") center / cover
    no-repeat;
  font-family: "Roboto", Arial, sans-serif;
}

.christo-centric-content {
  margin: 50px 0;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.christo-centric__image {
  width: 240px;
  margin-bottom: 14px;
}

.christo-centric__subtitle {
  margin: 0 0 14px;
  font-size: 30px;
  font-weight: 400;
  color: #eb7200;
}

.christo-centric__text {
  margin: 0;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .christo-centric-content {
    flex-direction: column;
    max-width: 600px;
    padding: 0 20px;
  }

  .christo-centric__image {
    margin: 0 0 14px;
    width: 200px;
  }

  .christo-centric__subtitle {
    margin: 0 0 14px;
    font-size: 24px;
  }

  .christo-centric__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .christo-centric-content {
    max-width: 400px;
    margin: 20px 0;
  }

  .christo-centric__image {
    width: 175px;
  }

  .christo-centric__subtitle {
    text-align: center;
  }
}
