@font-face {
  src: url("../../vendor/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
  font-family: "Roboto";
}

.searchbar {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e263f;
  font-family: "Roboto", Arial, sans-serif;
}

.searchbar__container {
  width: 690px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  border-radius: 50px;
}

.searchbar__input {
  padding: 4px 20px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: none;
}

.searchbar__button-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
