@font-face {
  src: url("../../vendor/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf");
  font-family: "Roboto";
}

.searchbar {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e263f;
  font-family: "Roboto", Arial, sans-serif;
}

.searchbar__container {
  width: 690px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  border-radius: 50px;
  overflow: hidden;
}

.searchbar__container_active {
  border: 2px solid #eb7200;
}

.searchbar__input {
  padding: 4px 20px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: none;
}

.searchbar__button-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .searchbar__container {
    width: 90%;
    max-width: 690px;
  }
}

@media screen and (max-width: 767px) {
  .searchbar {
    height: 56px;
    padding: 0 10px;
  }

  .searchbar__container {
    width: 100%;
    height: 36px;
  }

  .searchbar__input {
    padding: 4px 15px;
    font-size: 14px;
  }

  .searchbar__button-icon {
    width: 18px;
    right: 12px;
  }
}
