.books-section {
  background-color: #e3e3e3;
  height: 100%;
}

.books-section__items {
  margin: 0;
  padding: 20px;
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: 20px;
}
