@font-face {
  src: url("../../vendor/fonts/Cinzel/Cinzel-VariableFont_wght.ttf");
  font-family: "Cinzel";
}

.header {
  padding: 0 30px;
  display: flex;
  align-items: center;
  font-family: "Cinzel", "Times New Roman", serif;
}

.header__logo {
  width: 50px;
}

.header__title {
  margin: 0 0 0 24px;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}

.header__user-content {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}

.header__signout-button {
  padding: 10px 16px;
  background: none;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

.header__signout-button:hover {
  background-color: #246;
  cursor: pointer;
}

.header__username {
  margin: 0 0 0 24px;
  font-size: 20px;
  color: #fff;
}

.header__avatar {
  margin: 0 0 0 12px;
  width: 45px;
}
