@font-face {
  src: url("../../vendor/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-family: "Roboto";
  font-weight: 100 900;
  font-stretch: 75% 100%;
}

.banner {
  margin-bottom: 50px;
  width: 100%;
  position: relative;
}

.banner__image {
  width: 100%;
  height: auto;
  display: block;
}

.banner__act-button {
  padding: 16px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 300px;
  border-radius: 50px;
  border: none;
  background-color: #eb7200;
  opacity: 0.9;
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  transition: 0.15s;
}

.banner__act-button:hover {
  background-image: linear-gradient(to right, #eb7200, #ff383c);
  box-shadow: 0 0 10px 5px #eb7200;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .banner__act-button {
    width: 200px;
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .banner__act-button {
    width: 150px;
    font-size: 14px;
    padding: 12px 20px;
  }
}
